In [1]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['x','y','z'])
print(info)
print(info.agg(['min','max']))
d2=pd.DataFrame([['sai',88],['jai',70]])
column=['Emp','ID']
print(d2)

   x  y  z
0  2  4  6
1  1  3  5
2  5  8  7
     x  y  z
min  1  3  5
max  5  8  7
     0   1
0  sai  88
1  jai  70

In [2]:
d2['Age']=[20,18]
print(d2)

     0   1  Age
0  sai  88   20
1  jai  70   18

d=d2.assign(Sex=['Male','Male'])
print(d)

In [12]:
#sorting
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)

       col3      col4
3 -0.427248  0.146250
2 -0.389845  0.659806
0  2.791322 -0.833440
4  0.106317  0.173325
1 -0.187771 -0.562490

In [13]:
info2=info.sort_index()
print(info2)

       col3      col4
0  2.791322 -0.833440
1 -0.187771 -0.562490
2 -0.389845  0.659806
3 -0.427248  0.146250
4  0.106317  0.173325

In [14]:
info3=info.sort_values(by='col3')
print(info3)

       col3      col4
3 -0.427248  0.146250
2 -0.389845  0.659806
1 -0.187771 -0.562490
4  0.106317  0.173325
0  2.791322 -0.833440

In [16]:
left=pd.DataFrame({'id':[1,2,3,4],'Name':['arya','lathish','dharun','sudhan'],'sub':['1','2','3','4']})
right=pd.DataFrame({'id':[1,3,4,5],'Age':[20,21,22,23],'Add':['nah','id','win','D']})
merge=pd.merge(left,right,on='id')
print(merge)

   id    Name sub  Age  Add
0   1    arya   1   20  nah
1   3  dharun   3   21   id
2   4  sudhan   4   22  win