In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Abi','Babu','Charles','Darwin','Abi','Charles','Darwin'],'B':['one','two','three','one','two','three','one'],'C':np.random.randint(7,size=7),'D':np.random.randint(7,size=7)})
print("\n orginal DataFrame\n",df)

 orginal DataFrame
          A      B  C  D
0      Abi    one  6  0
1     Babu    two  5  3
2  Charles  three  2  4
3   Darwin    one  6  6
4      Abi    two  6  3
5  Charles  three  3  2
6   Darwin    one  1  6

In [8]:
df1 = df.groupby(['A', 'B'], as_index=False)['C'].sum()
print("\n Original dataframe\n", df)
print("\n Grouped dataframe with one column sum\n", df1)

 Original dataframe
          A      B  C  D
0      Abi    one  6  0
1     Babu    two  5  3
2  Charles  three  2  4
3   Darwin    one  6  6
4      Abi    two  6  3
5  Charles  three  3  2
6   Darwin    one  1  6

 Grouped dataframe with one column sum
          A      B  C
0      Abi    one  6
1      Abi    two  6
2     Babu    two  5
3  Charles  three  5
4   Darwin    one  7

In [7]:
df2 = df.groupby(['A', 'B'], as_index=False)['C'].sum()
df3 = df.groupby(['A', 'B'], as_index=False)[['C', 'D']].sum()
print("\nGrouped dataframe with 'C' summed:\n", df2)
print("\nGrouped dataframe with 'C' and 'D' summed:\n", df3)

Grouped dataframe with 'C' summed:
          A      B  C
0      Abi    one  6
1      Abi    two  6
2     Babu    two  5
3  Charles  three  5
4   Darwin    one  7

Grouped dataframe with 'C' and 'D' summed:
          A      B  C   D
0      Abi    one  6   0
1      Abi    two  6   3
2     Babu    two  5   3
3  Charles  three  5   6
4   Darwin    one  7  12

In [13]:
import pandas as pd
df=pd.DataFrame({'Category':['A','B','C','A','B','C'],'Sales':[100,200,150,150,130,200],'Profit':[10,15,20,25,30,15]})
print(df)  
df1=df.groupby("Category").agg({"Sales":["sum","mean"],"Profit":["sum","mean"]})
print(df1)

  Category  Sales  Profit
0        A    100      10
1        B    200      15
2        C    150      20
3        A    150      25
4        B    130      30
5        C    200      15
         Sales        Profit
           sum   mean    sum  mean
Category
A          250  125.0     35  17.5
B          330  165.0     45  22.5
C          350  175.0     35  17.5