In [1]:
import pandas as pd
pd.set_option('display.max_column',10)
df=pd.read_excel("marksheet.xlsx")
print(df)

   Roll no.           Name  LICA   DLC  EM 2   T&D
0         1       Abhinith  36.0  41.0  63.0  53.0
1         2         Akilan  23.0  34.0  56.0  65.0
2         3      Anulaxxmi  23.0   NaN  53.0  33.0
3         4  Aravind Kumar  56.0  65.0   NaN  32.0
4         5          Arjun  34.0  65.0  76.0   NaN
5         6         Ashwin  25.0  55.0  23.0  54.0
6         7           Arya   NaN  57.0  75.0  23.0
7         8           Babu  75.0  54.0   NaN  43.0
8         9  Balaganapathy  43.0   NaN  65.0  43.0
9        10    Balamurugan  54.0  64.0  34.0  75.0

In [2]:
k=df.fillna(method='pad')
print(k)
print("\nlip dated")

   Roll no.           Name  LICA   DLC  EM 2   T&D
0         1       Abhinith  36.0  41.0  63.0  53.0
1         2         Akilan  23.0  34.0  56.0  65.0
2         3      Anulaxxmi  23.0  34.0  53.0  33.0
3         4  Aravind Kumar  56.0  65.0  53.0  32.0
4         5          Arjun  34.0  65.0  76.0  32.0
5         6         Ashwin  25.0  55.0  23.0  54.0
6         7           Arya  25.0  57.0  75.0  23.0
7         8           Babu  75.0  54.0  75.0  43.0
8         9  Balaganapathy  43.0  54.0  65.0  43.0
9        10    Balamurugan  54.0  64.0  34.0  75.0

lip dated

<ipython-input-2-c4c63c33bc6a>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  k=df.fillna(method='pad')

In [3]:
k=df.fillna(method='pad')
print(k)
print("\n Updated line \n")
k.to_excel("marksheet.xlsx")

   Roll no.           Name  LICA   DLC  EM 2   T&D
0         1       Abhinith  36.0  41.0  63.0  53.0
1         2         Akilan  23.0  34.0  56.0  65.0
2         3      Anulaxxmi  23.0  34.0  53.0  33.0
3         4  Aravind Kumar  56.0  65.0  53.0  32.0
4         5          Arjun  34.0  65.0  76.0  32.0
5         6         Ashwin  25.0  55.0  23.0  54.0
6         7           Arya  25.0  57.0  75.0  23.0
7         8           Babu  75.0  54.0  75.0  43.0
8         9  Balaganapathy  43.0  54.0  65.0  43.0
9        10    Balamurugan  54.0  64.0  34.0  75.0

 Updated line

<ipython-input-3-96013e7398dc>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  k=df.fillna(method='pad')

In [12]:
print("\n Drop NaN row: \n")
df=pd.read_excel("marksheet.xlsx")
print(df)
x=df.dropna()
print(x)
x.to_excel("sheetzero.xlsx")

 Drop NaN row:

   Unnamed: 0.1  Unnamed: 0  Roll no.           Name  LICA  DLC  EM 2  T&D
0             0           0         1       Abhinith    36   41    63   53
1             1           1         2         Akilan    23   34    56   65
2             2           2         3      Anulaxxmi    23   34    53   33
3             3           3         4  Aravind Kumar    56   65    53   32
4             4           4         5          Arjun    34   65    76   32
5             5           5         6         Ashwin    25   55    23   54
6             6           6         7           Arya    25   57    75   23
7             7           7         8           Babu    75   54    75   43
8             8           8         9  Balaganapathy    43   54    65   43
9             9           9        10    Balamurugan    54   64    34   75
   Unnamed: 0.1  Unnamed: 0  Roll no.           Name  LICA  DLC  EM 2  T&D
0             0           0         1       Abhinith    36   41    63   53
1             1           1         2         Akilan    23   34    56   65
2             2           2         3      Anulaxxmi    23   34    53   33
3             3           3         4  Aravind Kumar    56   65    53   32
4             4           4         5          Arjun    34   65    76   32
5             5           5         6         Ashwin    25   55    23   54
6             6           6         7           Arya    25   57    75   23
7             7           7         8           Babu    75   54    75   43
8             8           8         9  Balaganapathy    43   54    65   43
9             9           9        10    Balamurugan    54   64    34   75

In [13]:
print("\n Replace values:\n")
n=pd.read_excel("marksheet.xlsx")
print(n)
y=n.replace({88:90})
print(y)
y.to_excel("marksheet.xlsx")

 Replace values:

   Unnamed: 0.1  Unnamed: 0  Roll no.           Name  LICA  DLC  EM 2  T&D
0             0           0         1       Abhinith    36   41    63   53
1             1           1         2         Akilan    23   34    56   65
2             2           2         3      Anulaxxmi    23   34    53   33
3             3           3         4  Aravind Kumar    56   65    53   32
4             4           4         5          Arjun    34   65    76   32
5             5           5         6         Ashwin    25   55    23   54
6             6           6         7           Arya    25   57    75   23
7             7           7         8           Babu    75   54    75   43
8             8           8         9  Balaganapathy    43   54    65   43
9             9           9        10    Balamurugan    54   64    34   75
   Unnamed: 0.1  Unnamed: 0  Roll no.           Name  LICA  DLC  EM 2  T&D
0             0           0         1       Abhinith    36   41    63   53
1             1           1         2         Akilan    23   34    56   65
2             2           2         3      Anulaxxmi    23   34    53   33
3             3           3         4  Aravind Kumar    56   65    53   32
4             4           4         5          Arjun    34   65    76   32
5             5           5         6         Ashwin    25   55    23   54
6             6           6         7           Arya    25   57    75   23
7             7           7         8           Babu    75   54    75   43
8             8           8         9  Balaganapathy    43   54    65   43
9             9           9        10    Balamurugan    54   64    34   75

In [20]:
df=pd.read_excel("marksheet.xlsx")
print(df)
print("\n Extract using isin() function: \n")
new = df['LICA'].isin([90])
print(df[new])

   Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0  Roll no.           Name  LICA  DLC  \
0             0             0           0         1       Abhinith    36   41
1             1             1           1         2         Akilan    23   34
2             2             2           2         3      Anulaxxmi    23   34
3             3             3           3         4  Aravind Kumar    56   65
4             4             4           4         5          Arjun    34   65
5             5             5           5         6         Ashwin    25   55
6             6             6           6         7           Arya    25   57
7             7             7           7         8           Babu    75   54
8             8             8           8         9  Balaganapathy    43   54
9             9             9           9        10    Balamurugan    54   64

   EM 2  T&D
0    63   53
1    56   65
2    53   33
3    53   32
4    76   32
5    23   54
6    75   23
7    75   43
8    65   43
9    34   75

 Extract using isin() function:

Empty DataFrame
Columns: [Unnamed: 0.2, Unnamed: 0.1, Unnamed: 0, Roll no., Name, LICA, DLC, EM 2, T&D]
Index: []